<!doctype html>
<html>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function cb(selection) {
            $.getJSON({
                url: "/callback", data: { 'data': selection }, success: function (result) {
                    Plotly.newPlot('chart', result, {staticPlot: true});;
                }
            });
        }
    </script>
</head>

<body style="font-family:arial, sans-serif">
  <h2>Top 10 locations:</h2>
  {% for location in locations %}
    <input type="radio" name="location" value="{{location}}" onclick="cb(this.value)">{{location}}<br>
  {% endfor %}
  <div id="chart" class="chart"></div>
</body>

<script>
  d = {{ graphJSON | safe }};
  //d.config={staticPlot: true};
  Plotly.newPlot('chart', d, {});
  
</script>
</html>